	#col-left {
		width: calc(75% - 30px);
	}

	#col-right {
		width: 25%;
	}
	
	.box {
		background-color: white;
		border-radius: 10px;
		margin-bottom: 20px;
	}
	
	.box h1, .box li, .box div, .box form {
		padding: 10px !important;
	}
	
	.box h1 {
		background-color: #fafafa;
		font-size: 16px;
		text-transform: uppercase;
		border-radius: 10px 10px 0 0;
		border: 1px solid #eff2f7;
	}
	
	.box ul {
		margin: 0;
	}
	
	.box li {
		margin: 0;
		border-bottom: 1px solid #ddd;
	}
	
	.box li:last-child {
		border-bottom: none;
	}
	
	.box select {
		margin: 10px 0;
		width: 100%;
	}
	
	.box button {
		width: 100%;
	}
	
	.box button {
		cursor: pointer;
		color: #fff;
		outline: none;
		border-radius: 5px;
    	border: 1px solid black;
		padding: 5px 10px;
		margin-bottom: 5px;
	}

	button.green {
    	background-color: #2dcc70;
		border-color: #2dcc70;
	}
	
	button.red {
    	background-color: #e84c3d;
		border-color: #e84c3d;
	}
	
	button[disabled] {
		cursor: not-allowed;
		color: lightgrey;
	}
	
	.msg {
		font-size: 16px;
		border-radius: 5px;
		margin-bottom: 20px;
		padding: 15px;
	}
	
	.system-msg {
		text-align: center;
		background-color: #d9edf7;
		color: #31708f;
	}
	
	.message-header {
		background-color: #dff0d8;
		color: #3c763d;
		border-radius: 5px 5px 0 0;
		margin-bottom: 0;
	}
	
	.message-content {
		background-color: #fff;
		color: #5d5f63;
		font-size: 14px;
		border-radius: 0 0 5px 5px;
	}

	.container {
		display: inline-block;
		background-color: white;
		border-radius: 10px;
		border: 1px solid grey;
		padding: 10px;
	}

	thead td {
		font-weight: bold;
	}
	
	a {
		cursor: pointer;
	}



	.lds-ellipsis {
	  	display: inline-block;
	  	position: relative;
	  	width: 80px;
	  	height: 80px;
	}
	.lds-ellipsis div {
	  	position: absolute;
	  	top: 33px;
	  	width: 13px;
	  	height: 13px;
	  	border-radius: 50%;
	  	animation-timing-function: cubic-bezier(0, 1, 1, 0);
	}
	.lds-ellipsis div:nth-child(1) {
	  	left: 8px;
	  	animation: lds-ellipsis1 0.6s infinite;
	  	background: #4285f4;
	}
	.lds-ellipsis div:nth-child(2) {
	  	left: 8px;
	  	animation: lds-ellipsis2 0.6s infinite;
	  	background: #ea4335;
	}
	.lds-ellipsis div:nth-child(3) {
	  	left: 32px;
	  	animation: lds-ellipsis2 0.6s infinite;
		background: #fbbc05; 
	}
	.lds-ellipsis div:nth-child(4) {
	  	left: 56px;
	  	animation: lds-ellipsis3 0.6s infinite;
		background: #34a853;
	}
	@keyframes lds-ellipsis1 {
	  0% {
		transform: scale(0);
	  }
	  100% {
		transform: scale(1);
	  }
	}
	@keyframes lds-ellipsis3 {
	  0% {
		transform: scale(1);
	  }
	  100% {
		transform: scale(0);
	  }
	}
	@keyframes lds-ellipsis2 {
	  0% {
		transform: translate(0, 0);
	  }
	  100% {
		transform: translate(24px, 0);
	  }
	}